page-manage-encomendas {


  .countButton{
    margin: 0 0 0 0!important;
    padding: 0!important;
    height: 33%;
  }
  .quantidadeProduto{
    //height: 33%;
    color: #000000;
    //margin: 0!important;
    //padding: 0!important;
    //height: 10%!important;
    //display: block !important;
    //background-color:transparent;
    //padding:7px 5px 7px 0  ;
  }


}
